.grid-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 300px 300px 300px;
    gap: 20px;


    justify-items: center;
    align-items: center;

    justify-content: center;
    align-items: center;
}

.grid-item{
    background: blue;
    padding: 30px 30px;
    border: 1px solid black;
    margin:10px;
    color:white;
    text-align: center;
    height: 100px;
    width: 100px;

}
